.left-navbar {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 117px;
  height: 100vh;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-navbar small {
  position: absolute;
  bottom: 59px;
  left: 42px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  color: #ffffff;
  font-size: 12px;
  line-height: 24px;
}

.left-navbar-items {
  margin-left: 26px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 1500px) {
  .left-navbar {
    width: 100px;
  }
  .left-navbar small {
    left: 38px;
  }
  .left-navbar-items {
    margin-left: 20px;
  }
}

@media (max-width: 1200px) {
  .left-navbar {
    width: 80px;
  }
  .left-navbar small {
    left: 28px;
  }
  .left-navbar-items {
    margin-left: 8px;
  }
}
