.activity-graph {
  background: #fbfbfb;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0412249);
  border-radius: 5px;
  max-height: 320px;
  width: 100%;
}

.activity-graph .title {
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
}

@media (max-width: 1500px) {
  .activity-graph {
    max-height: 250px;
  }
}
